<script src="/js/jquery.bxslider.min.js"></script>
<script>
$(document).ready(function(){   
    
    $('.slider').bxSlider({
        slideWidth: 366,
        minSlides: 2,
        maxSlides: 3,
        moveSlides: 1,
        slideMargin: 32,
        pager: false
    });
  
    $('.bxslider').bxSlider({
      auto: true,
      controls: false,
      pause: 7000,
      adaptiveHeight: true,
      autoControls: false
    });
    
    var slider2;    
    function bxslider(){
        var width = $(document).width();
        if(width>=992){
            var slider2=$('.bxslider').bxSlider({
                slideWidth:800
            });
    
        }
    }

    $(window).on("orientationchange load resize", function () {
        bxslider();
    });
    
});

</script>

<section class="main-banner" style="background-image:url(/images/main-banner.jpg);"><!--Main Banner-->
  <div class="overlay">
      <div class="banner-description">
          <div class="kentico-logo"><img src="{{home_main.img}}" width="188" height="67" alt="Kentico"></div>
          <h1>{{home_main.heading}}</h1>
          <!-- <div class="get-started"><a href="javascript:void(0);" title="Get Started">Get Started</a></div> -->
          <md-button class="get-started"><a href="javascript:void(0);" title="Get Started">Get Started</a></md-button>
      </div>
    </div>  
<!--Main Banner ends--></section>

<section class="why-kentico text-center"><!--Why Kentico-->
    <div class="container">
        <div class="row">
            
            <h2>{{k_hdg.heading}}</h2>
            <p>{{k_hdg.text}}</p>
            
            <div ng-repeat="adv in k_adv track by $index" class="col-md-3"><!-- define $index on loop for specific changes ng-repeat="track by $index" -->
                <div class="row">
                    <div class="column" ng-class="$index == 0 ? 'first-column' : ''"><!-- if first column has no line then  ng-class="$index == 0 ? 'first-column' : ''" -->
                        <div class="icon-frame">
                            <img src="{{adv.img}}" width="71" height="59" alt="">
                        </div>
                        <h3>{{adv.heading}}</h3> 
                        <p>{{adv.text}}</p>
                        <!-- <div class="read-more"><a href="why-kentico.html#management" title="Read more">Read more</a></div> -->
                        <md-button class="read-more"><a href="javascript:void(0);" title="Read more">Read more</a></md-button>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="row">
                    <div class="column">
                        <div class="icon-frame">
                            <img src="/images/ecommerce-icon.svg" width="64" height="59" alt="Ecommerce">
                        </div>
                        <h3>E-commerce</h3> 
                        <p>Praesent dapibus, neque id curs us faucibus, tortor neque egestas augue, eu vulputate magn</p>
                        <div class="read-more"><a href="why-kentico.html#ecommerce" title="Read more">Read more</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="column">
                        <div class="icon-frame">
                            <img src="/images/marketing-icon.svg" width="63" height="60" alt="Marketing">
                        </div>
                        <h3>Online Marketing</h3> 
                        <p>Praesent dapibus, neque id curs us faucibus, tortor neque egestas augue, eu vulputate magn</p>
                        <div class="read-more"><a href="why-kentico.html#marketing" title="Read more">Read more</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="column">
                        <div class="icon-frame">
                            <img src="/images/communities-icon.svg" width="87" height="84" alt="Communities">
                        </div>
                        <h3>Online Communities</h3> 
                        <p>Praesent dapibus, neque id curs us faucibus, tortor neque egestas augue, eu vulputate magn</p>
                        <div class="read-more"><a href="why-kentico.html#communities" title="Read more">Read more</a></div>
                    </div>
                </div>
            </div> -->
        </div>    
    </div>
<!--Why Kentico ends--></section>

<section class="work-frame" style="background-image:url(/images/work-bg.jpg);"><!--Latest Work-->
  <div class="work-overlay">
      <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-4">
                        <div class="latest-work">
                            <h2>Our<br/>Latest Work</h2>
                            <p>Donec odio uisque volutpat mattis eros ullam malesuada erat</p>
                            <!-- <div class="view-all"><a href="work.html" title="View all">View all</a></div> -->
                            <md-button class="view-all"><a href="javascript:void(0);" title="View all">View all</a></md-button>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="slider">
                          <div class="slide"><img src="/images/slide-01.png" width="366" height="518" alt="Slide 01"></div>
                          <div class="slide"><img src="/images/slide-02.png" width="366" height="518" alt="Slide 02"></div>
                          <div class="slide"><img src="/images/slide-01.png" width="366" height="518" alt="Slide 03"></div>
                          <div class="slide"><img src="/images/slide-02.png" width="366" height="518" alt="Slide 04"></div>
                          <div class="slide"><img src="/images/slide-01.png" width="366" height="518" alt="Slide 05"></div>
                          <div class="slide"><img src="/images/slide-02.png" width="366" height="518" alt="Slide 06"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Latest Work ends--></section>

<section class="why-us"><!--Why us-->
  <div class="container">
      <div class="row">
            <h2 class="text-center">{{expert_hdg.heading}}</h2>
            <p class="text-center">{{expert_hdg.text}}</p>
            <div class="gray-frame">
              <div ng-repeat="why in k_why" class="why-column">
                    <div class="icon">
                        <img src="{{why.img}}" width="61" height="52" alt="Integration">
                    </div>
                    <div class="why-column-detail">
                        <h3>{{why.heading}}</h3> 
                        <p>{{why.text}}</p>
                    </div>
                </div>
              <!-- <div class="why-column">
                    <div class="icon">
                        <img src="/images/intranets.svg" width="61" height="55" alt="Intranets">
                    </div>
                    <div class="why-column-detail">
                        <h3>Intranets</h3>
                        <p>The Kentico Intranet solution provides a compelling alternative to the bloatware that is Microsoft Sharepoint. We have successfully delivered Intranets...</p>
                    </div>
              </div> -->
            </div>
            <div class="orange-frame text-center">
              <img src="{{expert.img}}" width="51" height="61" alt="User">
                <h3>{{expert.heading}}</h3>
                <p>{{expert.text}}</p>
                <!-- <div class="orange-more"><a href="why-us" title="Read more">Read more</a></div> -->
                <md-button class="orange-more"><a href="javascript:void(0);" title="Read more">Read more</a></md-button>
            </div>

            <div class="gray-frame">
              <div ng-repeat="pro in k_pro" class="why-column">
                    <div class="icon">
                        <img src="{{pro.img}}" width="61" height="52" alt="Ecommerce">
                    </div>
                    <div class="why-column-detail">
                        <h3>{{pro.heading}}</h3> 
                        <p>{{pro.text}}</p>
                    </div>
                </div>
              <!-- <div class="why-column">
                    <div class="icon">
                        <img src="/images/project-icon.svg" width="61" height="59" alt="Delivered">
                    </div>
                    <div class="why-column-detail">
                        <h3>Project Delivered</h3>
                        <p>We've built more than 200 websites on the platform. This wealth of experience has meant that we've come across almost every challenging...</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>        
<!--Why us ends--></section>

<section class="testimonial text-center"><!--Testimonial-->
  <div class="container">
      <div class="row">
            <h2>{{test_hdg.heading}}</h2>
            <p>{{test_hdg.text}}</p>
            <div class="testimonial-slider">
                <!-- <div higgidy-carousel='images' timeout="10000">
                  <ul higgidy-carousel-images>
                    <li ng-repeat="image in images">
                        <div class="user"><img ng-src="{{image.src}}" width="71" height="71" alt="{{img.alt}}"></div>
                        <h3><span class="orange-text">{{image.username}}</span><br/>{{image.userProfile}}</h3>
                        <div class="content-frame">
                            <p><span class="left-quote"><img src="/images/quote-up.svg" width="48" height="45" alt="Quote"></span> {{image.slideContent}} <span class="right-quote"><img src="/images/quote-down.svg" width="47" height="45" alt="Quote"></span></p>
                        </div>
                    </li>


                  </ul>

                  <nav class="links">
                    <ul>
                      <li ng-repeat="image in images">
                        <a href="" ng-click="show($index)" ng-class="{selected: carousel.current == $index}">
                          {{$index}}
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div> -->
                <ul class="bxslider">
                    <li ng-repeat="slide in slides">
                        <div class="user"><img src="{{slide.src}}" width="71" height="71" alt="{{slide.alt}}"></div>
                        <h3><span class="orange-text">{{slide.username}}</span><br/>{{slide.userProfile}}</h3>
                        <div class="content-frame">
                            <p><span class="left-quote"><img src="/images/quote-up.svg" width="48" height="45" alt="Quote"></span> {{slide.slideContent}} <span class="right-quote"><img src="/images/quote-down.svg" width="47" height="45" alt="Quote"></span></p>
                        </div>
                    </li>
                    <!-- <li>
                        <div class="user"><img src="/images/testimonial-user.jpg" width="71" height="71" alt="User"></div>
                        <h3><span class="orange-text">Rosslyn Tebbutt</span><br/>Founder, SampleBoard</h3>
                        <div class="content-frame">
                            <p><span class="left-quote"><img src="/images/quote-up.svg" width="48" height="45" alt="Quote"></span> They were able to create exactly what we wanted and were willing to think outside the box. We wanted something different and they produced it! They were able to create exactly what we wanted and were willing to think outside the box. We wanted something different and they produced it! <span class="right-quote"><img src="/images/quote-down.svg" width="47" height="45" alt="Quote"></span></p>
                        </div>
                    </li>
                    <li>
                        <div class="user"><img src="/images/testimonial-user.jpg" width="71" height="71" alt="User"></div>
                        <h3><span class="orange-text">Rosslyn Tebbutt</span><br/>Founder, SampleBoard</h3>
                        <div class="content-frame">
                            <p><span class="left-quote"><img src="/images/quote-up.svg" width="48" height="45" alt="Quote"></span> They were able to create exactly what we wanted and were willing to think outside the box. We wanted something different and they produced it! <span class="right-quote"><img src="/images/quote-down.svg" width="47" height="45" alt="Quote"></span></p>
                        </div>
                    </li>
                    <li>
                        <div class="user"><img src="/images/testimonial-user.jpg" width="71" height="71" alt="User"></div>
                        <h3><span class="orange-text">Rosslyn Tebbutt</span><br/>Founder, SampleBoard</h3>
                        <div class="content-frame">
                            <p><span class="left-quote"><img src="/images/quote-up.svg" width="48" height="45" alt="Quote"></span> They were able to create exactly what we wanted and were willing to think outside the box. We wanted something different and they produced it! <span class="right-quote"><img src="/images/quote-down.svg" width="47" height="45" alt="Quote"></span></p>
                        </div>
                    </li> -->
                </ul>

            </div>
        </div>
    </div>        
<!--Testimonial ends--></section>

<section class="get-touch"><!--Get in Touch-->
  <div class="container">
      <div class="row">
          <h2 class="text-center">{{touch_hdg.heading}}</h2>
            <p class="text-center">{{touch_hdg.text}}</p>
            <div class="form">
                <form autocomplete="off" ng-submit="submit_form(contactUs)">
                    <fieldset>
                      <div class="grid460">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Your Name</label>
                                <input ng-model="user.name">
                            </md-input-container>
                        </div>
                        <div class="grid460 pull-right">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Company Name</label>
                                <input ng-model="theMax">
                            </md-input-container>
                        </div>
                    </fieldset>
                    <fieldset>    
                        <div class="grid460">
                            <md-input-container>
                              <label>Email address</label>
                              <input required name="Email" ng-model="project.Email">
                              <div ng-messages="submitted && projectForm.Email.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                            </md-input-container>
                        </div>
                        <div class="grid460 pull-right">
                            <md-input-container class="md-block">
                              <label>Contact No.</label>
                              <input ng-model="user.contact">
                            </md-input-container>
                        </div>
                    </fieldset>
                    <fieldset>  
                        <md-input-container class="md-block">
                          <label>Message</label>
                          <textarea ng-model="user.message" columns="1" rows="5"></textarea>
                        </md-input-container>
                    </fieldset>
                    <fieldset>    
                        <md-button class="button button-orange" ng-click="acceptOffer();"><a href="javascript:void(0);" title="Submit">Submit</a></md-button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
<!--Get in Touch ends--></section>