<section class="inner-banner text-center"><!--Inner Banner-->
	<h1>{{why_ban.heading}}</h1>
    <p>{{why_ban.text}}</p>
<!--Inner Banner ends--></section>

<section class="content-area">
	<div class="container">
    	<div class="row">
        	<h2>{{why_hdg.heading}}</h2>
      		<section ng-repeat="why in k_whys track by $index" class="content-management">
            	<div class="content-descp" ng-class="alignContent($index)">
                	<h3>{{why.heading}}</h3>
                    <p>{{why.text}}</p>
                    <p>{{why.text2}}</p>
                </div>
                <div class="banner" ng-class="alignImage($index)"><img src="{{why.img}}" alt=""></div>
            </section>
            <!-- <section id="integration" class="content-management">
            	<div class="content-descp pull-right">
                	<h3>Development &amp; Integration</h3>
                    <p>The Development &amp; Integration competency highlights our experience integrating Kentico with other business systems such as CRM systems like Salesforce, and email marketing systems like Mailchimp and Campaign Monitor. We've also integrated Kentico with custom product database systems and document management systems like Trim. </p>
                </div>
                <div class="banner pull-left"><img src="/images/integration-banner.png" width="400" height="303" alt="Development &amp; Integration"></div>
            </section>
            <section id="intranets" class="content-management">
            	<div class="content-descp">
                	<h3>Intranets</h3>
                    <p>The Kentico Intranet solution provides a compelling alternative to the bloatware that is Microsoft Sharepoint. We have successfully delivered Intranets to organisations that are intuitive, easy-to-update and inviting for end users. We have also advised organisations on the strategy and cultural engagement of Intranets.</p>
                </div>
                <div class="banner pull-right"><img src="/images/intranet-banner.png" width="341" height="336" alt="Intranets"></div>
            </section>
            <section id="ecommerce" class="content-management">
            	<div class="content-descp pull-right">
                	<h3>Ecommerce</h3>
                    <p>Our team have extensive experience in customising Kentico to meet the ecommerce requirements of our clients. Kentico has recognised this experience with the Ecommerce competency.  We have integrated 3rd party payment gateway solutions including eWay, SecurePay and PayPal. </p>
                </div>
                <div class="banner pull-left"><img src="/images/ecommerce-banner2.png" width="335" height="318" alt="Ecommerce"></div>
            </section> -->
        </div>
    </div>
</section>


<section class="get-touch"><!--Get in Touch-->
  <div class="container">
      <div class="row">
          <h2 class="text-center">{{touch_hdg.heading}}</h2>
            <p class="text-center">{{touch_hdg.text}}</p>
            <div class="form">
                <form autocomplete="off" ng-submit="submit_form(contactUs)">
                    <fieldset>
                      <div class="grid460">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Your Name</label>
                                <input ng-model="user.name">
                            </md-input-container>
                        </div>
                        <div class="grid460 pull-right">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Company Name</label>
                                <input ng-model="theMax">
                            </md-input-container>
                        </div>
                    </fieldset>
                    <fieldset>    
                        <div class="grid460">
                            <md-input-container>
                              <label>Email address</label>
                              <input required name="Email" ng-model="project.Email">
                              <div ng-messages="submitted && projectForm.Email.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                            </md-input-container>
                        </div>
                        <div class="grid460 pull-right">
                            <md-input-container class="md-block">
                              <label>Contact No.</label>
                              <input ng-model="user.contact">
                            </md-input-container>

                        </div>
                    </fieldset>
                    <fieldset>  
                        <md-input-container class="md-block">
                          <label>Message</label>
                          <textarea ng-model="user.message" columns="1" rows="5"></textarea>
                        </md-input-container>
                    </fieldset>
                    <fieldset>    
                        <div class="controls">
                            <button type="submit" class="button signup button-orange" title="Submit">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
<!--Get in Touch ends--></section>