<section class="inner-banner text-center"><!--Inner Banner-->
	<h1>{{ken_ban.heading}}</h1>
    <p>{{ken_ban.text}}</p>
<!--Inner Banner ends--></section>

<section class="content-area">
	<div class="container">
    	<div class="row">
        	<h2>{{pow_hdg.heading}}</h2>
      		<section ng-repeat="pow in k_pow track by $index" class="content-management"><!-- define $index on loop for specific changes ng-repeat="track by $index" -->
            	<div class="content-descp" ng-class="alignContent($index)">
                	<h3>{{pow.heading}}</h3>
                    <p>{{pow.text}}</p>
                    <ul>
                    	<li ng-repeat= "content in pow.listCont">{{content}}</li> 
                    </ul>
                </div>
                <div class="banner" ng-class="alignImage($index)"><img src="{{pow.img}}" alt=""></div>
            </section>
            <!-- <section id="ecommerce" class="content-management">
            	<div class="content-descp pull-right">
                	<h3>E-commerce</h3>
                    <p>No specification too high or deadline too tight! The Kentico E-commerce solution is your fast track to sophisticated online stores that are easy to manage and "wow" customers.  With dozens of proven plug-and-play components, you can focus on brilliant configuration and customization, not</p>
                    <ul>
                    	<li>Focus on sales, not technology</li> 
                        <li>Amazon-style smartness</li>
						<li>Make every project pay</li>
                    </ul>
                </div>
                <div class="banner pull-left"><img src="/images/ecommerce-banner.png" width="405" height="328" alt="E commerce"></div>
            </section>
            <section id="marketing" class="content-management">
            	<div class="content-descp">
                	<h3>Online Marketing</h3>
                    <p>Get out the big boys' toys! The Kentico Online Marketing solution enables digital marketing success without the headaches or costs of integration. With all tools in one solution, not only can you manage complex multi-channel marketing with ease, but you get a 360&deg; view of customers in one single customer profile.  Show the big boys how it's really done!</p>
                    <ul>
                    	<li>Fully integrated</li> 
                        <li>Smart marketing - simplified</li>
						<li>Powerfully profitable</li>
                    </ul>
                </div>
                <div class="banner pull-right"><img src="/images/marketing-banner.png" width="425" height="300" alt="Online Marketing"></div>
            </section>
            <section id="communities" class="content-management">
            	<div class="content-descp pull-right">
                	<h3>Online Communities</h3>
                    <p>Have a heart?  Kentico's Online Communities solution delivers every sophisticated tool you need to create, manage and socially integrate communities that drive qualified traffic, bring unique customer insights, and encourage conversation about your brand. It's the rock-solid answer to keeping the heart of your community healthy.</p>
                    <ul>
                    	<li>Have a heart?</li> 
                        <li>Kentico simplicity</li>
						<li>Plug-and-play success</li>
                    </ul>
                </div>
                <div class="banner pull-left"><img src="/images/communities-banner.png" width="362" height="336" alt="Online Communities"></div>
            </section> -->
        </div>
    </div>
</section>

<section class="get-touch"><!--Get in Touch-->
  <div class="container">
      <div class="row">
          <h2 class="text-center">{{touch_hdg.heading}}</h2>
            <p class="text-center">{{touch_hdg.text}}</p>
            <div class="form">
                <form autocomplete="off" ng-submit="submit_form(contactUs)">
                    <fieldset>
                      <div class="grid460">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Your Name</label>
                                <input ng-model="user.name">
                            </md-input-container>
                        </div>
                        <div class="grid460 pull-right">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Company Name</label>
                                <input ng-model="theMax">
                            </md-input-container>
                        </div>
                    </fieldset>
                    <fieldset>    
                        <div class="grid460">
                            <md-input-container>
                              <label>Email address</label>
                              <input required name="Email" ng-model="project.Email">
                              <div ng-messages="submitted && projectForm.Email.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                            </md-input-container>
                        </div>
                        <div class="grid460 pull-right">
                            <md-input-container class="md-block">
                              <label>Contact No.</label>
                              <input ng-model="user.contact">
                            </md-input-container>

                        </div>
                    </fieldset>
                    <fieldset>  
                        <md-input-container class="md-block">
                          <label>Message</label>
                          <textarea ng-model="user.message" columns="1" rows="5"></textarea>
                        </md-input-container>
                    </fieldset>
                    <fieldset>    
                        <div class="controls">
                            <button type="submit" class="button signup button-orange" title="Submit">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
<!--Get in Touch ends--></section>