<section class="inner-banner text-center"><!--Inner Banner-->
	<h1>Why Us</h1>
    <p>Donec odio uisque volutpat mattis eros ullam malesuada erat ut turpis.</p>
<!--Inner Banner ends--></section>

<section class="content-area">
	<div class="container">
    	<div class="row">
        	<h2>We have been working with Kentico since 2008</h2>
      		<section id="expert" class="content-management">
            	<div class="content-descp">
                	<h3>We're Experts</h3>
                    <p>We have been working with Kentico since 2008 and we've built more than 200 websites on the platform. This wealth of experience has meant that we've come across almost every challenging component of Kentico, we've worked with almost every module, and we've developed a unique process for Kentico development that you won't find anywhere else. </p>
                    <p>We're proud of our long and successful relationship with Kentico. We're also proud to be the leading Kentico agency in Asia-Pacific and be well-respected globally within the Kentico community.</p>
                </div>
                <div class="banner pull-right"><img src="/images/expert-banner.png" width="388" height="233" alt="Experts"></div>
            </section>
            <section id="integration" class="content-management">
            	<div class="content-descp pull-right">
                	<h3>Development &amp; Integration</h3>
                    <p>The Development &amp; Integration competency highlights our experience integrating Kentico with other business systems such as CRM systems like Salesforce, and email marketing systems like Mailchimp and Campaign Monitor. We've also integrated Kentico with custom product database systems and document management systems like Trim. </p>
                </div>
                <div class="banner pull-left"><img src="/images/integration-banner.png" width="400" height="303" alt="Development &amp; Integration"></div>
            </section>
            <section id="intranets" class="content-management">
            	<div class="content-descp">
                	<h3>Intranets</h3>
                    <p>The Kentico Intranet solution provides a compelling alternative to the bloatware that is Microsoft Sharepoint. We have successfully delivered Intranets to organisations that are intuitive, easy-to-update and inviting for end users. We have also advised organisations on the strategy and cultural engagement of Intranets.</p>
                </div>
                <div class="banner pull-right"><img src="/images/intranet-banner.png" width="341" height="336" alt="Intranets"></div>
            </section>
            <section id="ecommerce" class="content-management">
            	<div class="content-descp pull-right">
                	<h3>Ecommerce</h3>
                    <p>Our team have extensive experience in customising Kentico to meet the ecommerce requirements of our clients. Kentico has recognised this experience with the Ecommerce competency.  We have integrated 3rd party payment gateway solutions including eWay, SecurePay and PayPal. </p>
                </div>
                <div class="banner pull-left"><img src="/images/ecommerce-banner2.png" width="335" height="318" alt="Ecommerce"></div>
            </section>
        </div>
    </div>
</section>


<section class="get-touch"><!--Get in Touch-->
	<div class="container">
    	<div class="row">
        	<h2 class="text-center">Get in Touch</h2>
            <p class="text-center">Donec odio uisque volutpat mattis eros ullam malesuada erat ut turpis.</p>
            <div class="form">
                <form autocomplete="off">
                    <fieldset>
                    	<div class="grid460">
                            <div class="form-group">      
                                <input type="text" class="form-control" name="name" id="name" tabindex="1">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Your Name</label>
                            </div>
                        </div>
                        <div class="grid460 pull-right">
                            <div class="form-group">  
                                <input type="text" class="form-control" name="cname" id="cname" tabindex="2">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Company Name</label>
                            </div>
                        </div>
                   </fieldset>
                   <fieldset>     
                        <div class="grid460">
                            <div class="form-group">       
                                <input type="email" class="form-control" name="email" id="email" tabindex="3">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Email address</label>
                            </div>
                        </div>
                        <div class="grid460 pull-right">
                            <div class="form-group">       
                                <input type="text" class="form-control" name="contact" id="contact" tabindex="4">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Contact No.</label>
                            </div>
                        </div>
                   </fieldset>
                   <fieldset>     
                        <div class="form-group">       
                            <textarea class="form-control" name="message" id="message" tabindex="5"></textarea>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Message</label>
                        </div>
                   </fieldset>
                   <fieldset>     
                        <div class="controls">
                            <button type="submit" class="button signup button-orange" title="Submit">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
<!--Get in Touch ends--></section>