<section class="inner-banner text-center"><!--Inner Banner-->
	<h1>{{work_ban.heading}}</h1>
    <p>{{work_ban.text}}</p>
<!--Inner Banner ends--></section>

<section class="portfolio-area"><!--Portfolio Area-->
	<div class="container">
   		<div class="row">
        	<div class="portfolio-frame">	
                <ul>
                	<li ng-repeat="work in k_work">
                    	<div class="hover-portfolio">
                            <img src="{{work.img}}" width="300" height="257" alt="Realtor Services">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>{{work.heading}}</h3>
                    </li>
                    <!-- <li>
                    	<div class="hover-portfolio">
                            <img src="/images/gift.jpg" width="300" height="257" alt="Gifts">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Gifts for Him &amp; Her</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/logistics.jpg" width="300" height="257" alt="Logistics">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Logistics</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/dreamvilla.jpg" width="300" height="257" alt="DreamVilla Properties">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>DreamVilla Properties</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/luxor.jpg" width="300" height="257" alt="Luxor">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Luxor</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/rentio.jpg" width="300" height="257" alt="Rentio">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Rentio</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/nomas.jpg" width="300" height="257" alt="Nomas">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Nomas</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/marinas.jpg" width="300" height="257" alt="Marinas">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Marinas</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/intensy.jpg" width="300" height="257" alt="Intensy">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Intensy</h3>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
<!--Portfolio Area ends--></section>

<section class="get-touch"><!--Get in Touch-->
  <div class="container">
      <div class="row">
          <h2 class="text-center">{{touch_hdg.heading}}</h2>
            <p class="text-center">{{touch_hdg.text}}</p>
            <div class="form">
                <form autocomplete="off" ng-submit="submit_form(contactUs)">
                    <fieldset>
                      <div class="grid460">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Your Name</label>
                                <input ng-model="user.name">
                            </md-input-container>
                        </div>
                        <div class="grid460 pull-right">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Company Name</label>
                                <input ng-model="theMax">
                            </md-input-container>
                        </div>
                    </fieldset>
                    <fieldset>    
                        <div class="grid460">
                            <md-input-container>
                              <label>Email address</label>
                              <input required name="Email" ng-model="project.Email">
                              <div ng-messages="submitted && projectForm.Email.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                            </md-input-container>
                        </div>
                        <div class="grid460 pull-right">
                            <md-input-container class="md-block">
                              <label>Contact No.</label>
                              <input ng-model="user.contact">
                            </md-input-container>

                        </div>
                    </fieldset>
                    <fieldset>  
                        <md-input-container class="md-block">
                          <label>Message</label>
                          <textarea ng-model="user.message" columns="1" rows="5"></textarea>
                        </md-input-container>
                    </fieldset>
                    <fieldset>    
                        <div class="controls">
                            <button type="submit" class="button signup button-orange" title="Submit">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
<!--Get in Touch ends--></section>