<section class="inner-banner text-center"><!--Inner Banner-->
	<h1>Work</h1>
    <p>Donec odio uisque volutpat mattis eros ullam malesuada erat ut turpis.</p>
<!--Inner Banner ends--></section>

<section class="portfolio-area"><!--Portfolio Area-->
	<div class="container">
   		<div class="row">
        	<div class="portfolio-frame">	
                <ul>
                	<li>
                    	<div class="hover-portfolio">
                            <img src="/images/realtor.jpg" width="300" height="257" alt="Realtor Services">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Realtor Services</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/gift.jpg" width="300" height="257" alt="Gifts">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Gifts for Him &amp; Her</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/logistics.jpg" width="300" height="257" alt="Logistics">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Logistics</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/dreamvilla.jpg" width="300" height="257" alt="DreamVilla Properties">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>DreamVilla Properties</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/luxor.jpg" width="300" height="257" alt="Luxor">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Luxor</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/rentio.jpg" width="300" height="257" alt="Rentio">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Rentio</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/nomas.jpg" width="300" height="257" alt="Nomas">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Nomas</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/marinas.jpg" width="300" height="257" alt="Marinas">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Marinas</h3>
                    </li>
                    <li>
                    	<div class="hover-portfolio">
                            <img src="/images/intensy.jpg" width="300" height="257" alt="Intensy">
                            <div class="portfolio-overlay">
                                <a href="javascript:void(0);" title="READ MORE">Read More</a>
                            </div>
                        </div>
                        <h3>Intensy</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!--Portfolio Area ends--></section>

<section class="get-touch"><!--Get in Touch-->
	<div class="container">
    	<div class="row">
        	<h2 class="text-center">Get in Touch</h2>
            <p class="text-center">Donec odio uisque volutpat mattis eros ullam malesuada erat ut turpis.</p>
            <div class="form">
                <form autocomplete="off">
                    <fieldset>
                    	<div class="grid460">
                            <div class="form-group">      
                                <input type="text" class="form-control" name="name" id="name" tabindex="1">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Your Name</label>
                            </div>
                        </div>
                        <div class="grid460 pull-right">
                            <div class="form-group">  
                                <input type="text" class="form-control" name="cname" id="cname" tabindex="2">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Company Name</label>
                            </div>
                        </div>
                   </fieldset>
                   <fieldset>     
                        <div class="grid460">
                            <div class="form-group">       
                                <input type="email" class="form-control" name="email" id="email" tabindex="3">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Email address</label>
                            </div>
                        </div>
                        <div class="grid460 pull-right">
                            <div class="form-group">       
                                <input type="text" class="form-control" name="contact" id="contact" tabindex="4">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Contact No.</label>
                            </div>
                        </div>
                   </fieldset>
                   <fieldset>     
                        <div class="form-group">       
                            <textarea class="form-control" name="message" id="message" tabindex="5"></textarea>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Message</label>
                        </div>
                   </fieldset>
                   <fieldset>     
                        <div class="controls">
                            <button type="submit" class="button signup button-orange" title="Submit">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
<!--Get in Touch ends--></section>